<div class="text-center p-2">
    <a [routerLink]="['/task', '']" class="btn btn-outline-primary">Agregar Tarea</a>
</div>
<div class="card mb-2" *ngFor="let task of tasks; let i = index" >
  <div class="card-header d-flex justify-content-between align-item-center">
    {{ task.project.descripcion }}
    <div class="btn-toolbar">
      <a [routerLink]="['/task', i]" class="btn btn-outline-secondary m-1" data-toggle="tooltip" data-placement="top" title="Editar datos de la tarea"><fa-icon icon="edit"></fa-icon></a>
      <a class="btn btn-outline-danger m-1" data-toggle="tooltip" data-placement="top" (click)="deleteTask(i)" title="Eliminar la tarea"><fa-icon icon="trash"></fa-icon></a>
    </div>
  </div>
  <div class="cart-body m-2">
    <h6 class="card-title">Tarea: {{ task.nombretarea }}</h6>
    <p class="card-text">Proceso de desarrollo tiempo en horas: {{ task.tiempo }}</p>
  </div>
</div>
